/* font-face */
@font-face {
  font-family: neucha-regular;
  src: url("../assets/fonts/Neucha-Regular.ttf");
  font-display: wrap;
  font-weight: 500;
}

@font-face {
  font-family: OpenSans-regular;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
  font-display: wrap;
}

@font-face {
  font-family: OpenSuns-bold;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
  font-display: wrap;
}

/* common style */
:root {
  --white: hsl(0deg 0% 100%);
  --white-80: hsl(31deg 22% 80%);
  --white-96: hsl(0deg 0% 96%);
  --light: hsl(48deg 20% 95%);
  --primary: hsl(32deg 99% 50%);
  --primary-dark: hsl(30deg 100% 46%);
  --dark: hsl(0deg 5% 16%);
  --dark-50: hsl(24deg 2% 55%);
  --dark-25: hsl(50deg 5% 25%);
  --brown: hsl(32deg 23% 60%);
  --link-col: hsl(201deg 85% 42%);
  --heading-72: 4.5rem;
  --heading-60: 3.75rem;
  --heading-52: 3.25rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6em;
}

body {
  margin: 0;
  font-family: OpenSans-regular, sans-serif;
  color: var(--dark);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ol, ol li {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/* typography */

h1,
h2,
h3,
.card-number,
.card-title,
.title-block * {
  font-family: neucha-regular, serif;
}

h1,
h2,
h3 {
  color: var(--primary);
  line-height: 1.2em;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: var(--heading-72);
}

h2 {
  font-size: var(--heading-60);
}

h3 {
  font-size: var(--heading-52);
}

h4 {
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16.8px;
}

h1 span,
h2 span,
h3 span {
  color: var(--dark);
}

.article-preview,
.card-title {
  font-size: 34px;
}

.relative {
  position: relative;
}

.py-100 {
  padding: 100px 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

body > article:nth-child(even) {
  background-color: var(--brown);
}

header,
body > article:nth-child(odd) {
  background: var(--white-96);
}

.bg-primary::before {
  content: "";
  background: url('../assets/img/background.png');
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.bg-primary-brown::before {
  content: "";
  background: url('../assets/img/background.png');
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.mb-0 {
  margin-bottom: 0;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.text-color-white {
  color: var(--white);
}

body > article:nth-child(even) .title-block > * {
  color: var(--white);
}

article > .container {
  position: relative;
  z-index: 99;
}

/* header */

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  overflow-x: hidden;
}

.header-text-content {
  margin-top: 185px;
}

.header-preambula p:first-child {
  margin-bottom: 0;
}

.header-preambula p:nth-child(2) {
  margin-top: 10px;
}

.btn {
  margin-top: 24px;
  padding: 12px 24px;
  background: var(--primary);
  font-weight: 600;
  color: var(--white);
  line-height: 160%;
}

.btn:hover {
  background: var(--primary-dark);
}

/* main */

main {
  position: relative;
}

main > section:first-child {
  position: relative;
  text-align: center;
  top: 100px;
}

ol {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-row: repeat(2, 1fr);
  gap: 20px 30px;
}

ol li {
  width: 350px;
}

iframe {
  position: relative;
  z-index: 1;
}

.video-subtitle {
  margin: 30px 0;
}

.section-navigation {
  padding: 200px 0 100px;
  background: var(--dark-25);
}

.card {
  background: var(--light);
  padding: 24px;
}

.card-number {
  margin: 0;
  font-size: 64px;
  line-height: 1;
}

.card-title {
  margin: 40px 0 0;
  color: var(--primary);
  line-height: 40.8px;
}

.card p:nth-child(3) {
  margin-bottom: 0;
}


/* articles */

.article-subtitle {
  margin: 0;
  font-size: 24px;
  color: var(--dark-50);
}

.article-title {
  color: var(--dark-25);
}

.article-preview {
  margin: 30px 0 0;
  line-height: 40.8px;
}

.description-title {
  margin: 100px 0 0;
  color: var(--white);
  background: var(--brown);
}

body > article:nth-child(even) .description-title {
  color: var(--brown);
  background: var(--white);
}


/* footer */

footer > .container {
  padding: 55px;
  margin-bottom: 60px;
  background: var(--dark-25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  color: var(--white);
  font-size: 34px;
  padding-right: 122px;
}

form {
  color: var(--white);
}

form input {
  margin-top: 9px;
  border: none;
  width: 415px;
  height: 50px;
  padding: 15px;
}

form label {
  font-size: 18px;
}

form > div {
  display: flex;

}

form > p {
  margin: 0;
  font-size: 12px;
}

form > p > a {
  text-decoration: underline;
}

input::placeholder {
  color: #757575;
}

button {
  position: relative;
  background: var(--primary);
  padding: 0;
  border: 0;
  margin-top: 9px;
  height: 50px;
  width: 70px;
}

button::before {
  content: "";
  background: url("../assets/img/send.svg");
  position: absolute;
  width: 24px;
  aspect-ratio: 1 / 1;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

footer > div:nth-child(2) {
  font-size: 14px;
  text-align: center;
}


footer > div:nth-child(2) a {
  color: var(--link-col);
  text-decoration: underline;
}
